%p
  #notice
    = notice
= render '/categories/category_tree', :category => @item.category
%br
%p
  %b Title:
  = @item.title
%p
  %b Price
  = @item.price
%ul.images
  -for attachment in @item.attachments
    %li
      =image_tag(attachment.image.thumb.url)
